body, html{
  margin: 0;
  padding: 0;
  height: 100%;
}
html{
}

body{
  width: 958px;
  margin: 0 auto;
  font-size: 16px;
  font-family: "Lucida Console", Monaco, monospace;
  height: 100%;
  background: white;
}

h1, h2, h3, div, section, article{
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
  font-size: 2.3em;
  text-shadow: 0 0  5px white;
}

.mainNav ul{
  width: 900px;
  margin: 0 auto;
}

.mainNav ul li {
  width: 80px;
  display: inline-block;
  text-shadow: 0 0  5px wheat;
}

.container{
  margin: 30px 0;
}

.game{
  position: relative;
  margin: 0 auto;
  width: 500px;
  height: 500px;
  border: 2px solid rgba(0, 0, 0, 0.75);
  background: rgba(143, 204, 255, 0.68);
}

.game .ball{
  position: absolute;
}
.wall{
  position: absolute;
  background: brown;
}

.coin{
  width: 50px;
  height: 50px;
  position: absolute;
}

.gold{
  position: absolute;
  height: 50;
  width: 50px;
}

.buttons{
  width: 500px;
  margin: 40px auto;
}

.buttons button{
  width: 80px;
  height: 40px;
  background: #ffec35;
  border-radius: 15px;
  border: 2px solid orange;
  margin-right:60px;
}

.buttons button:last-child{
  margin-right:0;
}